<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      New Book added.
    </p>
    <p>
      Name: <%= @book.name%>
    </p>
    <p>
      Author: <%= @book.author%>
    </p>
    <p>Thanks!</p>
  </body>
</html>