<aside id="sidebar" class="sidebar">

      <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
          <a class="nav-link ">
            <%= link_to "Book", books_path%>
          </a>
          <a class="nav-link ">
            <%= link_to "Appoinments", appointments_path%>
          </a>
          <a class="nav-link ">
            <%= link_to "Patients", patients_path%>
          </a>
          <a class="nav-link ">
            <%= link_to "Physicians", physicians_path%>
          </a>
        </li><!-- End Dashboard Nav -->
      </ul>

    </aside><!-- End Sidebar-->
